a {
    margin: 2px;
    padding: 5px;
    font-size: 1.5rem;
    color: blue;
}

a:active {
    color: red;
}

#steps-container {
    display: flex;
    flex-direction: column;
}

.steps {
    padding: 5px;
    margin: 2px;
}

.header {
    text-align: center;
}

.sub-content {
    margin: 0 auto 0 5rem;
}
